/* -------------------------------------------------------------------------- */
/*  SCAFFOLDING                                                               */
/* -------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // Make all fonts antialiased
  // text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  @include font-size(1.9);
  font-weight: $regular;
  font-family: $body-text;
  color: $body-color;
  line-height: 1.25;
  letter-spacing: 1px;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;

  @media screen and (max-width: $mobile) {
    @include font-size(1.6);
  }
}
main {
  @include clearfix;
  margin: 0 auto;
  background: $white;
  position: relative;

  @media screen and (max-width: $tablet) {
    flex-direction: row-reverse;
  }

  &.has-sidebar {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  img {
    max-width: 100% !important;
    height: auto;
  }
}
table {
  width: auto;
  margin: 40px auto 0;
  text-align: center;

  @media (max-width: $tablet) {
    overflow-x: scroll;
  }
}
thead {
  background: $latte;
}
td, th {
  padding: 10px;
  min-width: 140px;
}
hr {
  margin: -5px 0 25px;
}
section {
  padding: 100px 0;
  position: relative;

  &.padded {
    padding: 150px 0;
  }
  &.light-blue {
    background: $smoothie;
  }
  &.dark-blue {
    background: $blueberry;
    .title,
    .section-title,
    p {
      color: $white;
    }
  }
  &.cream {
    background: $cream;
  }
  &.latte {
    background: $latte;
    p {
      color: $cafe;
    }
    .eyebrow {
      color: $blueberry;
    }
  }
  &.grain {
    background-image: url('./assets/img/bg-grain.jpg');
    background-size: cover;
  }
  &.texture {
    background-image: url('./assets/img/bg-texture.png');
    background-size: cover;
  }
}
div {
  &.max {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &.network {
    &:before {
      content: url('./assets/img/bg-networka.png');
      position: absolute;
      bottom: 140px;
      left: 0;
      opacity: 1;
      @media (max-width: $lg-tablet) {
        opacity: 0.4;
      }
    }
    &:after {
      content: url('./assets/img/bg-networkb.png');
      position: absolute;
      top: -160px;
      right: 0;
      opacity: 1;
      @media (max-width: $lg-tablet) {
        opacity: 0.4;
      }
    }
  }
}
.content {
  width: 100%; /* full-width by default */
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  opacity: 0;
  transition: all 1.5s;
  transform: translateY(50px);

  &.center {
    text-align: center;

    p {
      max-width: 900px;
      margin: 0 auto;
    }
  }
  &.left {
    text-align: left;
  }
  &.full {
    max-width: $narrow-width;
  }
  &.split {
    display: flex;
    flex-direction: row;
    align-items: center;
    .col {
      width: 50%;
      &:last-child {
        padding-left: 3em;
      }
    }

    @media (max-width: $desktop) {
      flex-wrap: wrap;
      .col {
        width: 100%;
        text-align: center;
        &:last-child {
          padding-left: 0;
          padding-top: 3em;
        }
      }
    }
  }
  &.inverse {
    flex-direction: row-reverse;

    .col {
      &:last-child {
        padding-right: 3em;
      }
    }

    @media (max-width: $desktop) {
      .col {
        &:last-child {
          padding-right: 0;
          padding-bottom: 3em;
        }
      }
    }
  }

  @media (max-width: $lg-tablet) {
    width: 90%;
  }

  &.contained {
    max-width: 800px;
  }
}

.appear {
  opacity: 1;
  transform: translateY(0);
}

.abs {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 47.5%;

  @media (max-width: $lg-tablet) {
    width: 100%;
    position: static;
    height: 500px;
    margin-bottom: -100px;
  }
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 100%;
  align-items: baseline;
  border-bottom: 3px solid $charcoal;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 10px;

  @media (max-width: $mobile) {
    flex-direction: column;
    padding-bottom: 15px;
  }
}
img {
  max-width: 100%;
}
