/* -------------------------------------------------------------------------- */
/*  SOCIAL                                                                    */
/* -------------------------------------------------------------------------- */

.social-links {
  display: flex;
  @media (max-width: $desktop) {
    justify-content: center;
  }

  li {
    margin: 30px 10px;
  }

  a {
    &:hover {
      svg {
        border: 1px solid $caramel;
        background: $white;
        border-radius: 50%;
      }
    }
  }
}
